<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>듀오 찾기 - DUO.OP.GG</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="/images/duo/favicon-32x32.png rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/style/duo.css">
</head>
<body>
    <div class="background"></div>
    <div class="modal-container">
        <div class="summoner">
            <div class="sum-content1">
                <span>소환사 등록하기</span>
                <a href="#" class="sum-off"><img src="/images/duo/cross.svg" alt=""></a>
            </div>
            <div class="sum-content2">
                <div class="sum-name">
                    <p>소환사 이름 (KR)</p>
                    <input type="text">
                </div>
                <div class="sum-cer">
                    <p>인증된 소환사</p>
                    <div class="cer-content">
                        <span>인증된 소환사 없음</span>
                        <a href="#">소환사 인증하기</a>
                    </div>
                </div>
            </div>
            <div class="sum-content3">
                <div class="sum-po">
                    <p>주 포지션</p>
                    <div class="sum-lane-box">
                        <ul>
                            <li><a href="#" class="sum-laneBtn">
                                <img src="/images/duo/all.png" alt="">
                            </a></li>
                            <li><a href="#" class="sum-laneBtn">
                                <img src="/images/duo/top.svg" alt="">
                            </a></li>
                            <li><a href="#" class="sum-laneBtn">
                                <img src="/images/duo/jg.svg" alt="">
                            </a></li>
                            <li><a href="#" class="sum-laneBtn">
                                <img src="/images/duo/mid.svg" alt="">
                            </a></li>
                            <li><a href="#" class="sum-laneBtn">
                                <img src="/images/duo/bot.png" alt="">
                            </a></li>
                            <li><a href="#" class="sum-laneBtn">
                                <img src="/images/duo/sup.svg" alt="">
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="sum-game">
                    <p>큐 타입</p>
                    <select name="gameType" id="gameType">
                        <option value="solo">솔로랭크</option>
                        <option value="team">자유랭크</option>
                        <option value="normal">일반(비공개 선택)</option>
                        <option value="aram">무작위 총력전</option>
                    </select>
                </div>
                <div class="sum-mic">
                    <p>마이크</p>
                    <input type="checkbox">
                </div>
            </div>
            <div class="sum-content4">
                <div class="sum-memo">
                    <p>메모</p>
                    <input type="text" placeholder="서포터 구합니다. 같이 게임해요!">
                </div>
            </div>
            <div class="sum-content">
                <p>삭제 비밀번호</p>
                <input type="text" placeholder="4자리 숫자로 입력해주세요.">
            </div>
            <div class="sum-content5">
                <p><img src="/images/duo/info.svg" alt="">타인에 대한 모욕, 명예훼손, 성희롱 등의 행위는 상대방의 신고 시 법적 처벌을 받을 수 있습니다.</p>
                <div class="sum-btn">
                    <a href="#" class="sum-off">취소</a>
                    <a href="#">등록</a>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="top-header">
            <div class="left">
                <div class="logo">
                    <h1>OPGG</h1>
                    <img src="/images/opgglogo.svg" alt="">
                </div>
                <div class="lnb">
                    <ul>
                        <li>
                            <img src="/images/img-navi-duo-gray.svg" alt="">
                            <span>Duo</span>
                        </li>
                        <li><a href="/index">
                            <img src="/images/img-navi-lol-white.svg" alt="">
                            <span>리그오브레전드</span>
                        </a></li>
                        <li><a href="/valorant">
                            <img src="/images/img-navi-valorant-white.svg" alt="">
                            <span>발로란트</span>
                        </a></li>

                    </ul>
                </div>
            </div>
            <div class="gnb">
                <img src="/images/icon-world-light-blue.svg" alt="">
                <a href="#" class="lang"><span>한국어</span><i class='bx bx-caret-down'></i></a>
                <a href="/login" class="login">로그인</a>
            </div>
        </div>
        <div class="sub-top-header">
            <div class="sub-top-content">
                <ul>
                    <li><a href="./duo.html"><img src="/images/duo/duo.svg" alt=""></a></li>
                    <li><a href="#"><img src="/images/duo/game-icon-lol.png" alt=""><span>League of Legends</span></a></li>
                    <li><a href="#"><img src="/images/duo/game-icon-valorant.png" alt=""><span>Valorant</span></a></li>
                </ul>
            </div>
        </div>
        <div class="middle-header">
            <div class="middle-content">
                <ul>
                    <li class="active"><a href="#">듀오찾기</a></li>
                    <li><a href="#">트롤신고</a></li>
                    <li><a href="#">클랜찾기</a></li>
                </ul>
                <div class="notice-container">
                    <p><img src="/images/duo/notification.svg" alt=""><span> 대리 광고</span>&nbsp;시&nbsp;<span>업무방해죄</span>로 신고될 수 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="bottom-content">
                    <p>소환사 등록은 로그인 시 10분에 1회 등록 가능합니다.</p>
            </div>
        </div>
    </header>
    <section>
        <div class="section-contents">
            <div class="main-contents">
                <div class="top-input">
                    <div class="startBox">
                        <div class="lane-box">
                            <ul>
                                <li><a href="#" class="laneBtn active">
                                    <img src="/images/duo/all.png" alt="">
                                </a></li>
                                <li><a href="#" class="laneBtn">
                                    <img src="/images/duo/top.svg" alt="">
                                </a></li>
                                <li><a href="#" class="laneBtn">
                                    <img src="/images/duo/jg.svg" alt="">
                                </a></li>
                                <li><a href="#" class="laneBtn">
                                    <img src="/images/duo/mid.svg" alt="">
                                </a></li>
                                <li><a href="#" class="laneBtn">
                                    <img src="/images/duo/bot.png" alt="">
                                </a></li>
                                <li><a href="#" class="laneBtn">
                                    <img src="/images/duo/sup.svg" alt="">
                                </a></li>
                            </ul>
                        </div>
                        <div class="selectOption">
                            <select name="gameType" id="gameType">
                                <option value="solo">솔로랭크</option>
                                <option value="team">자유랭크</option>
                                <option value="normal">일반(비공개 선택)</option>
                                <option value="aram">무작위 총력전</option>
                            </select>
                            <select name="tier" id="tier">
                                <option value="all">전체</option>
                                <option value="unranked">언랭크</option>
                                <option value="iron">아이언</option>
                                <option value="bronze">브론즈</option>
                                <option value="silver">실버</option>
                                <option value="gold">골드</option>
                                <option value="platinum">플레티넘</option>
                                <option value="diamond">다이아</option>
                            </select>
                        </div>
                    </div>
                    <div class="endBox">
                        <select name="sever" id="server">
                            <option value="KR">KR</option>
                            <option value="KR">NA</option>
                            <option value="KR">JP</option>
                            <option value="KR">EUW</option>
                        </select>
                        <button class="sum-on">소환사 등록하기</button>
                    </div>
                </div>
                <div class="board">
                    <div class="board-header">
                        <div class="head-content">소환사 이름</div>
                        <div class="head-content">주 포지션</div>
                        <div class="head-content">티어</div>
                        <div class="head-content">최근 선호 챔피언</div>
                        <div class="head-content">승률</div>
                        <div class="head-content">KDA</div>
                        <div class="head-content">메모</div>
                        <div class="head-content">등록일시</div>
                    </div>
                    <div class="board-content"></div>
                </div>
            </div>
        </div>
    </section>
    <footer>
            <div class="footer-contents">
                <div>
                    <a href="#">
                        <img src="/images/opgglogo.svg" alt="" class="footer-logo">
                    </a>
                </div>
                <div><span>OP.GG</span>
                    <ul>
                        <li><a href="#">About OP.GG</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">로고 히스토리</a></li>
                    </ul>
                </div>
                <div><span>Products</span>
                    <ul>
                        <li><a href="#">리그오브레전드<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">데스크톱<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">발로란트<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">배틀그라운드<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">오버워치<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">이터널 리턴<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">이스포츠<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">톡피지지<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">Duo<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                    </ul>
                </div>
                <div><span>Apps</span>
                    <ul>
                        <li><a href="#">OP.GG Android App<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">OP.GG iOS App<img src="/images/icon-game-white.svg" alt="" class="footerIcon"></a></li>
                        <li><a href="#">IFI.GG Android App</a></li>
                        <li><a href="#">IFI.GG iOS App</a></li>
                    </ul>
                </div>
                <div><span>Resources</span>
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">도움말</a></li>
                        <li><a href="#">문의/피드백</a></li>
                    </ul>
                </div>
                <div><span>More</span>
                    <ul>
                        <li><a href="#">제휴</a></li>
                        <li><a href="#">광고</a></li>
                        <li><a href="#">채용</a></li>
                    </ul>
                </div>
                        </ul>
            </div>
            <div class="footer-bottom">
                <p>© 2012-2022 OP.GG. OP.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
                <a href="https://twitter.com/globalopgg/"><img src="./images/icon-logo-twitter.svg" alt=""></a>
                <a href="https://www.instagram.com/opgginc/"><img src="./images/icon-logo-instagram.svg" alt=""></a>
                <a href="https://www.facebook.com/lolopgg/"><img src="./images/icon-logo-facebook.svg" alt=""></a>
            </div>
    </footer>
    <script src="/script/duo.js"></script>
</body>
</html>