<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMBER.OP.GG</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/style/login.css">
</head>
<body>
    <section>
        <div class="section">
            <div class="login-container">
                <div class="login-contents">
                    <div class="content1">
                        <a href="./index.html">
                            <img src="./images/img_opgglogo.1924961d.svg" alt="">
                        </a>
                    </div>
                    <!-- <div class="content2">
                        <p>간편 로그인</p>
                        <a href="#">
                            <img src="./images/icon_facebook_wh.6ab689d7.svg" alt="">
                            <span>페이스북으로 로그인</span>
                        </a>
                        <a href="#">
                            <img src="./images/logo_apple.dca28233.svg" alt="">
                            <span>Apple로 로그인</span>
                        </a>
                    </div>
                    <div class="content3">
                        <span>OR</span>
                    </div> -->
                    <div class="content4">
                        <p>이메일 로그인</p>
                        <input type="text" placeholder="이메일 주소" class="email">
                        <input type="password" placeholder="비밀번호" class="pwd">
                        <div class="check">
                            <div class="checkBox">
                                <input type="checkbox" id="check">
                                <label for="check">로그인 상태 유지하기</label>
                            </div>
                            <a href="#" class="login-a">비밀번호를 잊으셨나요?</a>
                        </div>
                    </div>
                    <div class="content5">
                        <div class="loginBtn">로그인</div>
                        <div>
                            <span>OP.GG에 처음이세요?</span>
                            <a href="/login/register/age" class="login-a">회원가입하기</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <span>한국어</span><i class='bx bx-caret-down'></i>
            </a>
        </div>
    </section>
    <script src="/script/login.js"></script>
</body>
</html>